@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: Montserrat;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

 #title{
    padding: 20px;
    background: aqua;
  }
 
 #head{
   padding: 20px;
 }
 
 #head-content1{
   margin-top: 50px;
   margin-bottom:50px;
   font-size: 20px;
 }
 #head-content2{
   margin-bottom:60px;
   font-size: 25px;
 }
 #head-content3{
   margin-bottom:50px;
 }
 #btnExplore{
   background: white;
   border: solid 2px aqua;
   outline: none;
   padding: 20px;
   text-decoration: bold;
   width: 50%;
 }
 #btnExplore:hover{
   background: aqua;
 }
 
 #content{
   padding: 20px;
   background: white;
   color: black;
 }
 #about{
   margin-top: 50px;
   margin-bottom:60px;
 }
  #purpose{
   margin-bottom:60px;
 }
 #project{
   margin-bottom:50px;
 }
   
  #myprojects{
    padding: 20px;
    background: aqua;
  }
  
#content-project{
  padding: 40px;
}
  
#todo{
  padding: 20px;
}

#todo-pic{
  height: 300px;
  width: 70%;
}

#unit{
  padding: 20px;
}

#unit-pic{
  height: 300px;
  width: 70%;
}
 
#create{
  padding: 20px;
}

#create-pic{
  height: 300px;
  width: 70%;
}


 

